<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pm.presentation">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="com.pm.presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pm.presentation.detailpage.DetailPageActivity" />
        <activity android:name="com.pm.presentation.buyorsaleregistration.BuyOrSaleRegistrationActivity" />

        <service
            android:name="com.pm.presentation.MyFirebaseMessaging"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>